@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
/* ## Colors */
/* ### Primary */

--Purple50: hsl(260, 100%, 95%);
--Purple300: hsl(264, 82%, 80%);
--Purple500: hsl(263, 55%, 52%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Grey100:  hsl(214, 17%, 92%);
--Grey200: hsl(0, 0%, 81%);
--Grey400: hsl(224, 10%, 45%);
--Grey500: hsl(217, 19%, 35%);
--Darkblue: hsl(219, 29%, 14%);
--Black: hsl(0, 0%, 7%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    width: 100vw;
    background-color: var(--Grey100);
}

section {
    padding: 4.563rem 2.188rem;
}

article {
    padding: 1.875rem 2.1rem;
}
article.one {
    background-color: var(--Purple500);
    color: var(--White);
    border-radius: 0.875rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2);
}

div.person {
    display: flex;
    border: 1px solid bla;
}

article > div > img {
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: 0.125rem solid var(--Purple300);
}

div.info {
    margin-left: 0.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1rem;
}

span {
    font-size: 0.75rem;
}

span.name {
    font-size: 0.75rem;
    font-weight: 500;
}

p.first-p {
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

p.second-p {
    padding-top: 1.25rem;
    font-size: 0.83rem;
    line-height: 1.15rem;
}

article.two {
    margin-top: 2rem;
    background-color: var(--Grey500);
    color: var(--White);
    border-radius: 0.875rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2);
}

article.two > div.person > img {
    border: 0.125rem solid var(--Grey400);
}

article.three {
    margin-top: 2rem;
    background-color: var(--White);
    color: var(--Grey500);
    border-radius: 0.875rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2);
}

article.three > div.person > img {
    border: 0.125rem solid var(--Grey200);
}

article.four {
    margin-top: 2rem;
    background-color: var(--Darkblue);
    color: var(--White);
    border-radius: 0.875rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2);
}

article.four > div.person > img {
    border: 0.125rem solid var(--Purple500);
}

article.five {
    margin-top: 2rem;
    background-color: var(--White);
    color: var(--Grey500);
    border-radius: 0.875rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.2);
}

article.five > div.person > img {
    border: 0.125rem solid var(--Grey200);
}

.attribution { margin-bottom: 3rem; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 60rem) {
    section {
        padding: 14.25rem 10.25rem;
        display: grid;
        grid-template: repeat(2, auto) / repeat(4, auto);
        gap: 1.5rem
    }

    article.one {
        grid-area: 1 / 1 / -2 / -3;
    }

    article.two {
        margin: 0;
        grid-area: 1 / 3 / -2 / -2;
    }

    article.three {
        margin: 0;
        grid-area: 2 / 1 / -1 / -4;
    }

    article.four {
        margin: 0;
        grid-area: 2 / 2 / -1 / -2;
    }

    article.five {
        margin: 0;
        grid-area: 1 / 4 / -1 / -1;
    }
    
}